{% extends "layout.html" %}

{% block body %}
<section id="header">
     <div class="topnav">
        <a href="/">Home</a>
        <a href="/fetch_news">News</a>
        <a href="/contact_us">Contact</a>
        <a href="/about">About</a>
        <a class="active" href="/blogs">Blogs</a>
     </div>
     <br/>
     <a href='blog_create'>
     <h2>Create Blog</h2>
     </a>
     <br/><br/>
  <div id="blogs_list">
    <ul>
        {% for blog in blogs %}
            <li>
                <div class="details">
                  <a href="/blogs_read?id={{blog[0]}}"><h3>
                    {{ blog[3] }}
                  </h3></a>
                    <p>                               
                      Posted By: {{ blog[1] }}
                    </p>
                    <p>
                         Posted on:  {{ blog[2] }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
