{% extends "layout.html" %}


{% block body %}

<section id="header">
     <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/fetch_news">News</a>
        <a href="/contact_us">CO2 Estimator</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a>

    </div>
    
    <div class="container">
        <img src="{{ url_for('static', filename='images/dark_logo_transparent.png') }}" class="logo" style="margin:0px 50px">
        <div class="header-text">
            <h3> <b> MAKE A CHANGE</b></h3>
            
            
            <br>
            <p> A carbon footprint can be a broad measure or be applied to the actions of an individual, a family, an event, an organization, or even an entire nation.
            </p>
            <br>
            <br>
            <br>
            <a href="/about">
            
            <button type="button" href="/about" class= "common-btn"> Read More </button>
                
            </a>
            
            
            
        </div>
    </div>
</section>
        
    </section>
    
    
    
    <script>
        var menuBtn = document.getElementById("menuBtn");
        var sideNav = document.getElementById("sideNav");
        
        sideNav.style.right= "-250px";
        menuBtn.onclick = function(){
            if (sideNav.style.right == "-250px")
                {
                    sideNav.style.right= "0";
                    
                }
            else {
                sideNav.style.right= "-250px";
            }
        }
    </script>
{% endblock %}
