{% extends "layout.html" %}

{% block body %}
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/fetch_news">News</a>
        <a  href="/contact_us">CO2 Estimator</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a>

    </div>
    <br>
    
    <div class="Content">
        <br>
        <br>
        <h1>News Related to Climate Changes</h1>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <ul>
            {% for news_block in news_list %}
                <li>
                    <div class="news_block">

                        <div class="img">
                            <img src="{{ news_block['img'] }}">
                        </div>
                        <div class="details">
                            <a class="article_title" href="{{ news_block['href'] }}" target="_blank">
                                <h3>
                                    {{ news_block['title'] }}
                                </h3>
                            </a>
                            <p>
                                
                                {{ news_block['descr'] }}
                            </p>
        
                            <div class="date_posted">
                                Posted on: 
                                {{ news_block['date'] }}
                            </div>
                        </div>
                    </div>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% endfor %}
        </ul>
    </div>
    
{%endblock %}
