*{
    margin: 0;
    padding :0;
    font-family: sans-serif;
}
#header {
    height : 100vh;
    background-image: url(https://res.cloudinary.com/graystack/image/upload/v1615714996/upload/bggg_ibblzb.jpg);
    background-size: cover;
}
.container {
    margin-right: 100px;
    margin-left: 30px;
}
.logo {
    height: 30vh;
   /* margin-top: 30px;*/
    
}

.header-text {
    font-family: cursive;
    max-width: 350px;
    
}
.square{
    height : 12px;
    width : 12px;
    display : inline-block;
    background-color: #f67c92;
    margin: 15px 0;
    
}

.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #448d64;
    font-weight: bold;
    cursor: pointer;
}
p {
    color: #777;
    font-size: 15px;
    line-height: 18px;
    font-family: sans-serif;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1 {
    width : 10px;
    height: 10px;
    background: #f67c92;
    display: inline-block;
}

.line-2 {
    width : 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}


.line-3 {
    width : 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}



 


/* Add a black background color to the top navigation */
.topnav {
  background-color: #448d64;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


/*about*/

#about {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    margin-left: 40px;
    width: 100%;
}


.about-right-col{
    flex-basis: 50%;
    text-align: right;
}

.about-text{
    max-width: 500px;
    margin-right: 50px;
    display: inline-block;
}
.about-text h4{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
    
    
}
.about-text h5{
    
    font-size: 20px;
    font-style: italic;
    color: gray;
    
    
}






